.table-fetch-data{
   text-align: center;
}
table{
  background-color:rgb(163, 195, 208);
  margin-top: 5%;
}
.table-fetch-data h2{
  margin-top: 25px;
}
.table-data{
  height:12rem;
  width:32rem;
  padding: 15px;
  margin-left: 31%;
}
.table-fetch-data button{
  padding: 8px;
  font-size: small;
  border-radius: 10px;
}
.btn-accept{
  border:1.5px solid black;
  background-color:greenyellow;

}
.btn-reject{
  color: white;
  background-color: rgb(255, 35, 35);
}