*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: white;
  }
  
  a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  li:hover{
  color: rgb(255, 218, 10);
  }